@model IEnumerable<MusicStreamingService.Models.SongModels.SongDetail>

@{
    ViewBag.Title = "Songs";
}

<h2>@ViewBag.Artist Songs</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlbumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{ string releaseDate = item.ReleaseDate.ToString("yyyy-MM-dd");}
            @Html.DisplayFor(model => releaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.ActionLink("View Song Details", "Details", "Song", new { id = item.SongId })
        </td>
    </tr>
}

</table>
