@model MusicStreamingService.Models.ArtistsModels.ArtistDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist Detail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @{ string birthday = Model.Birthday.ToString("yyyy-MM-dd");}
            @Html.DisplayFor(model => birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Albums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albums)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Followers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Followers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
